<%- include("partials/header") %>

<div class = "container">
	<div class = "jumbotron text-center">
		<h1>
			Climb Japan
		</h1>
		<h2>
			Find your next adventure today.
		</h2>
		<a href = "/prefectures">
		<button class = "btn btn-lg btn-warning">
			Get Started
		</button>
		</a>
	</div>
</div>

<%- include("partials/footer") %>