<%- include("partials/header") %>

<h1 class = "text-center my-5">
	List of Prefectures
</h1>

<div class = "container">
	<div class = "jumbotron">
		<ul class = "text-center">
			<% prefecture.forEach(function(prefecture) { %>
			<a href = "/prefectures/<%= prefecture._id %>" >
			<li>
				<%= prefecture.name %>
			</li>
			</a>
			<% }) %>
		</ul>
	</div>
</div>

<%- include("partials/footer") %>