<%- include("partials/header") %>

<h1>
	List of Prefectures
</h1>

<div class = "container">
	<div class = "jumbotron">
		<% prefecture.forEach(function(prefecture) { %>
		<a href = "/prefectures/<%= prefecture._id %>" >
		<p>
			<%= prefecture.name %>
		</p>
		</a>
		<% }) %>
	</div>
</div>

<%- include("partials/footer") %>