<%- include("partials/header") %>

<div class = "container">
	<div class = "jumbotron">
		<% for(i = 0; i < foundPrefecture.gyms.length; i++) { %>
		<p>
			<%= foundPrefecture.gyms[i].gym_name %>
		</p>
		<p>
			<%= foundPrefecture.gyms[i].location %>
		</p>
		<% } %>
	</div>
</div>







<%- include("partials/footer") %>